.Game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Game__svg {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.Game__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.Game__overlay:hover {
    cursor: pointer;
}

.Game__overlay-text {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Press Start 2P', 'Arial', sans-serif;
    font-size: 36px;
    text-align: center;
    line-height: 1.25;
    color: #ffffff;
    user-select: none;
}

.Game__overlay_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;  
    overflow: hidden;
    clip: rect(0 0 0 0);
}

@media (max-width: 1280px) {
    .Game__overlay-text {
        font-size: 32px;
    }
}

@media (max-width: 1024px) {
    .Game__overlay-text {
        font-size: 28px;
    }
}

@media (max-width: 440px) {
    .Game__overlay-text {
        font-size: 24px;
    }
}
