.Mode {
    height: 100%;
}

.Mode__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.Mode__link {
    display: inline-block;
    padding: 30px 60px;
    font-family: 'Press Start 2P', 'Times New Roman', cursive;
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
}

@media (max-width: 1280px) {
    .Mode__link {
        padding: 25px 50px;
        font-size: 42px;
    }
}

@media (max-width: 1024px) {
    .Mode__link {
        font-size: 36px;
    }
}

@media (max-width: 960px) {
    .Mode__link {
        padding: 20px 40px;
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .Mode__list {
        flex-direction: column;
    }

    .Mode__link {
        font-size: 24px;
    }
}
